
/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.fat-border-wrapper {
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: beige;
}

.title {
  background: crimson;
  color: gold;
  margin: 0;
  padding: 10px;
  line-height: 1.1em;
}

.planets-list {
  list-style: none;
  padding: 5px;
  background: burlywood;
}

.planets-list__row {
}

.planet {
  margin: 4px;
  padding: 4px;
  background: darkgreen;
  color: white;
}

.planet__data {
  display: inline-block;
  width: 70px;
  text-align: right;
}

.planet__data--trend {
  text-align: left;
  width: 0;
  padding-left: 10px;
}
